<div class="cart--cart-block">
  <div class="cart-block--summary">
    <a class="cart-block--link__expand" href="<%= url %>">
      <span class="cart-block--summary__icon"></span>
      <span class="cart-block--summary__count position-absolute top-10 start-10 translate-middle badge rounded-pill bg-danger"><%= count %></span>

    </a>
  </div>
</div>
